{#
/**
 * @file
 * BigPipe loading preview for the ReqRes user table lazy builder.
 *
 * Shown in place of the user table while BigPipe streams the real content.
 *
 * Available variables:
 * - preview: Any existing preview content provided by the lazy builder.
 */
#}
<div class="reqres-user-table-preview">
  <p>{{ 'Loading users…'|t }}</p>
</div>